.backcolor{
    background-color: rgb(28, 28, 28);
}
.title{
    text-align: center;
    color: white;
    font-size: 60px;
    text-shadow: 0 0 40px #7716c0, 0 0 20px #7716c0;   
}
.buttons{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}