.matrixContainer{
    display: grid;
    place-items: center;
    grid-gap:0;
}
td{
    border: 1px solid black;
    color: black ;
    background-color: white;
    padding: 10px;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 30px;
}
.tdClickPlayerOne{
    color: black ;
    background-color: #00b0f0
}

.tdClickPlayerTwo{
    color: black ;
    background-color: #92d050
}

.circle{
    background-color:blue;
    display:block;
    height:50px;
    width:50px;
    border-radius:50%;
    border:5px solid #000;
    margin:auto;
    color:#fff;
    line-height:50px;
    text-align:center
  }

.gameSection{
    text-align: center;
}
