.radio-container {
  display: flex;
  align-items: center;
}

.custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}
  
.custom-radio img {
  display: block;
  width: 100%;
  height: 100%;
}
  
.custom-radio::before {
  content: "";
  display: none;
}
  
input[type="radio"]:checked + .custom-radio::before {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
  
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container h2{
  margin: 0 0 80px 0;
  color: white;
  font-size:  30px;
  font-weight: 400;
}

.radio-buttons{
  width: 100%;
  margin-left: 20px;
}
  
label{
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.radioButtons{
  display: flex;
  flex-direction: row;
  text-align: center;  
}

.chooseMode{
  color: white;
  font-size: 35px;
}