.socials {
    text-align: center;
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
  } 
  
  .socials:hover {
    background-color: rgb(56, 56, 56);
  }

  .socials:active {
    transform: scale(0.8);
  }
  